<div class="card">
    <div class="card-body">
        {% for tag in tags %}

            <label>
                <input name="tags[]" type="checkbox" value="{{ tag }}">
                {{ tag }}
            </label>

        {% else %}
            <p>There is no tags defined forr filtering.</p>
        {% endfor %}
    </div>
</div>