<div class="card">
    <div class="card-body">
        {% for tag in tags %}

            <div>
                <label>
                    <input name="tags[]" type="checkbox" value="{{ tag.slug }}">
                    {{ tag.name }}
                </label>
            </div>

        {% else %}
            <p>There is no tags defined forr filtering.</p>
        {% endfor %}
    </div>
</div>