<div class="row">
    <div class="col-lg-4">
        {% include 'filters.twig' with {'tags': tags} %}
    </div>

    <div class="col-lg-8">
        {% include 'map.twig' %}
    </div>
</div>

<div class="js-new-mark-modal-wrap"></div>
<div class="js-modal-mark-info-wrap"></div>

