<!-- Modal -->
<div class="modal fade" id="at-modal-pin-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <p>Added at: {{ created_at }}</p>

                {% if tags %}
                <h6>Tags:</h6>

                <ul>
                    {% for tag in tags %}
                        <li>tag</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
</div>
